[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
alembic = "*"
sqlalchemy = "*"
typing-extensions = "*"
psycopg2 = "*"
pydantic-settings = "*"
uvicorn = "*"
aiohttp = "*"

[dev-packages]

[requires]
python_version = "3.12"
